.container{
    border-radius: 20px;
    width: 100%;
    background-color: rgb(49, 48, 49);
    border: 2px solid rgb(175, 174, 174);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap :100px
    
    
}
.card1,.card2,.card3{
    background-color:rgb(186, 249, 124);
    width: 300px;
    height: 520px;
    border:3px solid rgb(179, 177, 177);
    border-radius: 10px;
    overflow: hidden;
}
.card1{
    background-color:rgb(186, 249, 124) ;
}
.card2{
    background-color:rgb(186, 249, 124);
}
.card3{
    background-color: rgb(186, 249, 124);
}

.card1>.img1,.card2>.img2,.card3>.img3{
    width: 100%;
    height:200px;
    margin: 0px;
}
.btn{
    background-color: black;
    text-align: center;
    color: white;
    margin: 25px 100px 25px 100px;
    border-radius: 5px;
    padding: 5px;

}
.btn:hover{
    background-color: blue;
}
.text{
    background-color: rgb(186, 249, 124);
    margin: 0px;
}
.bold{
    text-shadow: 5px 5px 7px black;
}

